<div class="container" ng-controller="team_ctrl">
    <p></p>
        <div class="thumbnail">
      <table class="tb1" align="center" cellspacing="20" cellpadding="20">
          <tr>
              <th>Team datails</th>
              <th><center>Team logo</center?</th>
          </tr>
                    <tbody>
                        <tr ng-repeat="x in data">
                                <td>
                                    <li> Team name : {{x.team_name}}</li>
                                    <li> Team captain : {{x.team_captain}}</li>
                                    <li> Team coach : {{ x.team_coach}} </li>
                                    <li> Home ground : {{x.team_home_venue}} </li>
                                    <li>Team owner : {{x.team_owner}}</li>
                                </td>
                                <td>
                                  <a ui-sref="player({ team : x.team_name })">
                                     <img-url data=x.team_img_url ></img-url>
                                    </a>
                                </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
