<div class="container" ng-controller="homeCtrl">
    <p></p>
        <div class="thumbnail">
      <table class="tb1" align="center" cellspacing="20" cellpadding="20">
          <tr>
              <th>Team datails</th>
              <th><center>Team logo</center?</th>
          </tr>
                    <tbody>
                        <tr ng-repeat="teamData in teamsData">
                                <td>
                                    <li> Team name : {{teamData.team_name}}</li>
                                    <li> Team captain : {{teamData.team_captain}}</li>
                                    <li> Team coach : {{ teamData.team_coach}} </li>
                                    <li> Home ground : {{teamData.team_home_venue}} </li>
                                    <li>Team owner : {{teamData.team_owner}}</li>
                                </td>
                                <td>
                                  <a ui-sref="player({ team : teamData.team_name })">
                                     <img-url data=teamData.team_img_url ></img-url>
                                    </a>
                                </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
